@inherits RazorEngineCore.RazorEngineTemplateBase<Dictionary<string, string>>
<body>
<div>
    <table>
        <tbody>
        <tr>
            <td>Hello @Model["Username"], welcome to OIDC.Core!</td>
        </tr>
        </tbody>
    </table>
</div>
</body>